@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow-x: hidden; */
}
body{
  background: #111111;
  background-image: url("./images/LorranCode2.png");
  background-repeat: no-repeat;
  background-position: right top;
  overflow-x: hidden;
  
}
a, svg {
  transition: 0.4s;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: #ca89f2;
}
::-webkit-scrollbar-thumb:hover{
  background: #9744ca;
}
h2:after {
  content: "";
  background: linear-gradient(90deg, rgb(250, 82, 82) 0%, rgb(221, 36, 118) 100%);
  height: 3px;
  width: 30%;
}

@media (max-width: 991px){
  body{
    background: #111111;
  }
}